@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Finlandica&family=Grenze+Gotisch&family=Hubballi&family=Inter:wght@500&family=Lato&family=Lobster&family=Lobster+Two:wght@700&family=Manrope:wght@300&family=Martel&family=Open+Sans&family=Poppins:wght@200;300&family=Quicksand&family=Roboto:wght@300;400&family=Sansita+Swashed:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
}
.header{
    background-color: #324049;
    text-align: center;
    font-size: 17px;
    display: flex;
    
}
.textee{color: #e4e9f7;}
.texte{
    color: transparent;
    margin: 4px;
    margin-top: 13px;
    font-size: 2vw;
    display: inline-block;
    border-radius: 3px;
    background-color: #bdc5cf;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
} 
.texte:before{
      content: attr(data-title);
      background: linear-gradient(90deg, rgb(21, 219, 245) 0%, rgb(190, 29, 253) 51%, rgb(44, 67, 99) 100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0;
      background-clip: text;
      -webkit-background-clip: text;
      transition: all 1s ease-in-out;
      animation: text-animation 3s infinite;
    } @keyframes text-animation{
        0%{
          width: 0;
        }
        50%{
          width: 100%;
        }
        100%{
          width: 0;
        }
      }
  



.profile{
    display: flex;
    align-items: center;
    width:18rem;
    padding-left: 70%;
}
.profile .image{
    border-radius: 50%;
    height: 3.5rem;
    width:3.5rem;
    margin: 10px;
    cursor: pointer;
    margin-right: 1rem;
}
.maintext{
    font-size: 1.3rem;
    font-weight: 700;
}

.contenu2{
    padding: 20px 150px;
    margin: 15px;
    flex-basis: 31%;
    transition: 0.5s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.contenu2 h2 {
    text-align: center;
    color: #3498db;
    font-size: 25px;
}
.mainbody{
    min-height: 100vh;
    background-color: #e4e9f7;
    background-image: url(Images/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100vw;
    height: max-content;
    display: flex;
    
}
.slider{
    background-color: white;
    min-height: 100vh;
    width:18.2rem;
    position: relative;
    padding-top:1rem;
    transition: 0.3s ease;
}

a{
    text-decoration: none;
    color:black ;
}
.childs:hover >a{
    color:white;
}


.search , .notifications , .dashboard , .messages  , .logout , .coins, .settings , .toggle{
    height: 3.5rem;
    margin: 0.5rem;
    display: flex;
    border-radius: 0.4rem;
    width:16rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}

.childs{
    transition: 0.15s ease;
}

.childs:hover{
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, rgb(44, 67, 99));
    color:white;
}
.text{
    margin-left:1.8rem;
 
}


.search{
    background-color: rgb(244, 237, 250);
    transition: 0.3s ease;
}
.searchbtn{
    background-color: transparent;
    height: 3rem;
    width:16rem;
    border:none;
    font-size: 1rem;
    outline: none;
    margin-left:0.8rem;
}
::-webkit-search-cancel-button{
    display: none;
}
hr{
    border: 0.5px solid rgb(115, 115, 115);
    background-color: rgb(105, 105, 105);
}
.linkcolor{
    color:white !important;	
}
.checkbox{
    appearance: none;
    position: relative;
    background-color: rgb(216, 216, 216);
    height: 1.5rem;
    width:3rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}
#toggle{
    padding-left:0.5rem;
    width:17rem;
}
#toggle:hover{
    background-color: rgb(255, 255, 255);
    color:black;
}
#togglebg{
    background-color: white;
}
#toggleText{
    margin-left:0.8rem;
}
.checkbox:before{
    content: "";
    height: 1.2rem;
    width:1.4rem;
    position: absolute;
    top:2px;
    left: 2px;
    background-color: black;
    border-radius: 50%;
    transition: 0.3s ease;
}
.checkbox:checked{
    background-color:  #3498db;
}
.checkbox:checked::before{
    left:calc(3rem - 1.4rem);
}
.dark{
    background-color: rgb(17, 17, 17);
}
.middark{
    background-color: rgb(45, 45, 45);
}
.color{
    color:white;
}
.searchcolor{
    color: rgb(38, 38, 38);
}

/********************* Partie Catégorie************************/
 
 .ctn1{
    
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  padding: 40px 0 0px;
  
    
}
ul li {
    
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    padding: 30px;
    background-color: #324049;
    border-radius: 6px;
    margin: 25px;
    color: #ffffff;
    justify-content: center;
}
 li:hover{
    background-color: #4f5e68;
 }

@media (max-width:550px) {
    .image{
        height: 3.3rem;
        width:3.3rem;
    }
    .close{
        width:5rem;
    }
    .slider.close .childs{
        width:4rem;
        margin-left:0.4rem;
    }
    .slider.close .toggle{
        margin-left:0.4rem;
    }
    .slider.close .searchbtn{
        opacity: 0;
    }
    .slider.close .search{
        width:4rem;
        margin-left: 0.4rem;
    }
    .slider.close .profile{
        padding-left: 0.5rem;
    }
   
}













h1 {
	text-align: center;
	margin: 20px 0;
}

form:not(#navv):not(.suppr) {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
    border-radius: 10px;
}

fieldset {
	border: none;
}

legend {
	font-weight: bold;
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

.type{
    padding: 1px 8px;
    border-radius: 5px;
}

input[type="number"],
input[type="date"],
input[type="text"] {
	padding: 5px 70px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color:  #324049;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	cursor: pointer;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

caption {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
}

th,
td {
	padding: 15px 25px;
	text-align: left;
}

th {
	background-color:  #324049 ;
	color: white;
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

button:not(#logoutbtn) {
	background-color: #324049;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
    margin: 3px;
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4); 
}

.modal-content {
	background-color: #fff;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 80%; 
	position: relative;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}


.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}









